img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 3px solid rgb(76, 134, 182);
    margin-right: 21%;
    box-shadow: 7px 5px 5px rgba(5, 20, 43, 0.39);
    margin-bottom: 5%;
    
    

}